*.meta
**.meta
***.meta

Core-SDK/Library/
Core-SDK/Logs/
Core-SDK/*.unitypackage
Core-SDK/Packages/
Core-SDK/ProjectSettings/

Android/PushAmpPlus/Library/
Android/PushAmpPlus/Logs/
Android/PushAmpPlus/Packages/
Android/PushAmpPlus/ProjectSettings/
Android/PushAmpPlus/*.unitypackage

Android/HMSPushKit/Library/
Android/HMSPushKit/Logs/
Android/HMSPushKit/Packages/
Android/HMSPushKit/ProjectSettings/
Android/HMSPushKit/*.unitypackage

Android/RichNotification/Library/
Android/RichNotification/Logs/
Android/RichNotification/Packages/
Android/RichNotification/ProjectSettings/
Android/RichNotification/*.unitypackage

iOS/Geofence/Library/
iOS/Geofence/Logs/
iOS/Geofence/Packages/
iOS/Geofence/ProjectSettings/
iOS/Geofence/*.unitypackage

ReleaseAttachments/