*.meta
**.meta
***.meta

Core-SDK/Library/
Core-SDK/Logs/
Core-SDK/*.unitypackage
Core-SDK/Packages/
Core-SDK/ProjectSettings/

Cards/Library/
Cards/Logs/
Cards/*.unitypackage
Cards/Packages/
Cards/ProjectSettings/

Android/PushAmpPlus/Library/
Android/PushAmpPlus/Logs/
Android/PushAmpPlus/Packages/
Android/PushAmpPlus/ProjectSettings/
Android/PushAmpPlus/*.unitypackage

Android/RichNotification/Library/
Android/RichNotification/Logs/
Android/RichNotification/Packages/
Android/RichNotification/ProjectSettings/
Android/RichNotification/*.unitypackage


iOS/Geofence/Library/
iOS/Geofence/Logs/
iOS/Geofence/Packages/
iOS/Geofence/ProjectSettings/
iOS/Geofence/*.unitypackage

ReleaseAttachments/

Geofence/Library
Geofence/ProjectSettings
Geofence/Packages
Geofence/Logs

v2.2.0.zip

.idea

Build.log

**Temp/
**UserSettings/

Library/
