*.meta
**.meta
***.meta

Core-SDK/Library/
Core-SDK/Logs/
Core-SDK/*.unitypackage
Core-SDK/Packages/
Core-SDK/ProjectSettings/

Android/PushAmpPlus/Library/
Android/PushAmpPlus/Logs/
Android/PushAmpPlus/Packages/
Android/PushAmpPlus/ProjectSettings/
Android/PushAmpPlus/*.unitypackage

iOS/Geofence/Library/
iOS/Geofence/Logs/
iOS/Geofence/Packages/
iOS/Geofence/ProjectSettings/
iOS/Geofence/*.unitypackage

ReleaseAttachments/